*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

/* .body.dark-theme{
    --white-main: #282a2a;
    --color-main: #e45525;
    --gray-main: #ededed;
    --dark-main: #251605;
    --gray-light: #acacac;
    --gray-lighter: #ededed;
    --gray-lightest: #434343;
    --second-main: #e7c15f;
    --creme-main: #F5D8B7;
    --green-main: #1B9520;
    --shadow-color: #FEFEFE55;
} */

.content{
    flex-grow: 1;
}

:root{
    --max-page-width: 1420px;
    --section-margin: 20px;
    --white-main: #FEFEFE;
    --color-main: #e45525;
    --gray-main: #282a2a;
    --dark-main: #251605;
    --gray-light: #434343;
    --gray-lighter: #acacac;
    --gray-lightest: #ededed;
    --second-main: #e7c15f;
    --creme-main: #F5D8B7;
    --green-main: #1B9520;
    --shadow-color: #00000022;
}

:root.light{
    --white-main: #FEFEFE;
    --color-main: #e45525;
    --gray-main: #282a2a;
    --dark-main: #251605;
    --gray-light: #434343;
    --gray-lighter: #acacac;
    --gray-lightest: #ededed;
    --second-main: #e7c15f;
    --creme-main: #F5D8B7;
    --green-main: #1B9520;
    --shadow-color: #00000022;
}

:root.dark{
    --white-main: #282a2a;
    --color-main: #e45525;
    --gray-main: #ededed;
    --dark-main: #251605;
    --gray-light: #acacac;
    --gray-lighter: #ededed;
    --gray-lightest: #434343;
    --second-main: #e7c15f;
    --creme-main: #F5D8B7;
    --green-main: #1B9520;
    --shadow-color: #FEFEFE22;
}


body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--white-main);
    --max-page-width: 1420px;
    --section-margin: 20px;
}

/* domyslny kolor, wszedzie gdzie nie sprecyzowane */
p, span, li {
    color: var(--gray-main);
}

.section-margin{
    margin-bottom: var(--section-margin);
}

.hover:hover{
    filter: brightness(0.75);
    cursor: pointer;
}

.hover-color{
    cursor: pointer;
}

.hover-underline:hover{
    text-decoration: underline;
    filter: brightness(0.75);
    cursor: pointer;
}

.unified-shadow{
    box-shadow: 0px 0px 10px 5px var(--shadow-color);
}

.unified-border{
    border: 1px solid var(--gray-light);
}

.section-title{
    font-size: 30px;
    font-weight: 500;
    color: var(--gray-main);
}

.icon-20px{
    height: 20px;
    width: 20px;
}